<mat-card>
  <mat-card-header>
    <mat-card-title>{{todo.todo}} by {{todo.doing}}</mat-card-title>
    <button mat-fab (click)="edit()">Edit</button>
  </mat-card-header>
  <mat-card-content>{{todo.description}}</mat-card-content>
  <mat-card-actions>
    <span *ngIf="todo.dueDate">{{todo.dueDate | date}}</span>
    <button mat-button (click)="complete()">{{ todo.complete ? 'Undo' : 'Complete'}}</button>
    <button mat-button (click)="delete()">Delete</button>
  </mat-card-actions>
</mat-card>
