@import '../../../assets/sass/colors.scss';

mat-card {
  width: 80%;
  margin: 1rem auto;
  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    mat-card-title {
      span.todo {
        color: $color-secondary-2-0;
        font-size: larger;
      }
      span.doing {
        color: $color-secondary-1-3;
        font-size: medium;
      }
    }
  }
}