<form [formGroup]="data.todoForm">
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="todo">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Doing" formControlName="doing">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>

  <mat-checkbox *ngIf="data.edit" formControlName="complete">Complete</mat-checkbox>

  <mat-form-field>
    <mat-label>Due Date</mat-label>
    <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate">
    <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #dueDatePicker></mat-datepicker>
  </mat-form-field>
 
  <mat-form-field *ngIf="data.edit">
    <mat-label>Complete Date</mat-label>
    <input matInput [matDatepicker]="completeDatePicker" formControlName="completeDate">
    <mat-datepicker-toggle matSuffix [for]="completeDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #completeDatePicker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button (click)="submit()">Submit</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</form>
